// change this typeface to Aileron-SemiBold when transfonter is working again

// @font-face {
//     font-family: 'Clear Sans';
//     src: url('./fonts/subset-ClearSans-Medium.eot');
//     src: url('./fonts/subset-ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
//         url('./fonts/subset-ClearSans-Medium.woff2') format('woff2'),
//         url('./fonts/subset-ClearSans-Medium.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'AileronSemiBold';
    src: url('./fonts/AileronSemiBold.eot');
    src: url('./fonts/AileronSemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AileronSemiBold.woff2') format('woff2'),
        url('./fonts/AileronSemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bradford Mono_8-2';
    src: url('./fonts/subset-BradfordMono_8-2-Italic.eot');
    src: url('./fonts/subset-BradfordMono_8-2-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/subset-BradfordMono_8-2-Italic.woff2') format('woff2'),
        url('./fonts/subset-BradfordMono_8-2-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}